<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="public/styles/login.css">
</head>
<body>
    <form action="\login" method="POST">
        <h1 id="title">LOGIN</h1>

        <?php if(isset($message)): ?>
            <p class="message">
                <?= $message; ?>
            </p>
        <?php endif; ?>
        
        <input name="email" type="email" placeholder="Podaj email">
        <input name="password" type="password" placeholder="Podaj hasło">
        <button type="submit">LOGIN</button>

        <a href="\register">Zarejestruj się</a>
    </form>

</body>
</html>
