<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="public/styles/login.css">
</head>
<body>
    <form action="\register" method="POST">
        <h1 id="title">REGISTER AS A NEW USER</h1>

        <input name="email" type="email" placeholder="Podaj email">
        <input name="password1" type="password" placeholder="Podaj hasło">
        <input name="password2" type="password" placeholder="Powtórz hasło">

        <input name="firstname" type="text" placeholder="Podaj imie">
        <input name="lastname" type="text" placeholder="Podaj naziwsko">

        <button type="submit">REGISTER</button>
    </form>

</body>
</html>
