* {
    font-size: 18px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: bisque;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1rem;
    width: 45vw;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}